@model IEnumerable<InterviewPracticeforCRUDinADO.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (@Html.BeginForm("Index", "Student", FormMethod.Get))
{

    @Html.RadioButton("searchBy", "Name", true) <text>Name</text>

    @Html.TextBox("search")
    <input type="submit" value="search" />
}

<table class="table">
    <tr>
        </th>
        <th style="width:10%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
            <a href="/Student/index?SortColumn=RollNo&IconClass=fa-sort-asc&PageNo=1">RollNo</a>
                if (ViewBag.SortColumn == "RollNo")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
        <a href="/Student/index?SortColumn=RollNo&IconClass=fa-sort-desc&PageNo=1">RollNo</a>
                if (ViewBag.SortColumn == "RollNo")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>

        </table>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RollNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emailid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfirmPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RollNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emailid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassWord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RollNo }) |
                @Html.ActionLink("Details", "Details", new { id = item.RollNo }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RollNo })
                @*<a onclick="Delete(@item.RollNo)" class="btn btn-default"><i class="fa fa-trash"></i>  Delete</a>*@
            </td>
        </tr>
    }
    <tr>
        <td colspan="9">
            @{
                int PrevPageNo = ViewBag.PageNo - 1;
                if (PrevPageNo <= 0)
                {
                    PrevPageNo = 1;
                }

                int NextPageNo = ViewBag.PageNo + 1;
                if (NextPageNo > ViewBag.NoOfPages)
                {
                    NextPageNo = ViewBag.NoOfPages;
                }
            }
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="/student/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@PrevPageNo">Prev</a>
                </li>
                @for (int i = 0; i < ViewBag.NoOfPages; i++)
                {
                    if ((i + 1) == ViewBag.PageNo)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="/student/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@(i + 1)">@(i + 1)</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/student/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@(i + 1)">@(i + 1)</a>
                        </li>
                    }
                }
                <li class="page-item">
                    <a class="page-link" href="/student/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@NextPageNo">Next</a>
                </li>
            </ul>
        </td>
    </tr>
</table>

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
